# vim: set ft=yaml:

# This is the folder that contains the rule yaml files
# Any .yaml file will be loaded as a rule
rules_folder: {{ var "ELASTALERT_RULES_DIRECTORY" | default "/etc/elastalert/rules" }}

# How often ElastAlert will query elasticsearch
# The unit can be anything from weeks to seconds
run_every:
    seconds: 30

# ElastAlert will buffer results from the most recent
# period of time, in case some log sources are not in real time
buffer_time:
    minutes: 1

# The elasticsearch hostname for metadata writeback
# Note that every rule can have it's own elasticsearch host
es_host: {{ var "ELASTICSEARCH_HOST" | default "elasticsearch" }}

# The elasticsearch port
es_port: {{ var "ELASTICSEARCH_PORT" | default "9200" }}

# Option basic-auth username and password for Elasticsearch
{{if var "ELASTICSEARCH_USERNAME" }}
es_username: {{var "ELASTICSEARCH_USERNAME"}}
es_password: {{var "ELASTICSEARCH_PASSWORD"}}
{{ end}}

# The index on es_host which is used for metadata storage
# This can be a unmapped index, but it is recommended that you run
# elastalert-create-index to set a mapping
writeback_index: {{ var "ELASTALERT_INDEX" | default ".elastalert" }}

# If an alert fails for some reason, ElastAlert will retry
# sending the alert until this time period has elapsed
alert_time_limit:
  days: 7
